AppCore/Service References/HOSTRptService/HOSTRptService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="HOSTRptService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IHOSTRptService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52514/HOSTService/HOSTRptService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52514/HOSTService/HOSTRptService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHOSTRptService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IHOSTRptService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IHOSTRptService_MessageString_InputMessage">
    <wsdl:part name="parameters" element="tns:MessageString" />
  </wsdl:message>
  <wsdl:message name="IHOSTRptService_MessageString_OutputMessage">
    <wsdl:part name="parameters" element="tns:MessageStringResponse" />
  </wsdl:message>
  <wsdl:message name="IHOSTRptService_MessageByte_InputMessage">
    <wsdl:part name="parameters" element="tns:MessageByte" />
  </wsdl:message>
  <wsdl:message name="IHOSTRptService_MessageByte_OutputMessage">
    <wsdl:part name="parameters" element="tns:MessageByteResponse" />
  </wsdl:message>
  <wsdl:portType name="IHOSTRptService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IHOSTRptService/DoWork" message="tns:IHOSTRptService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHOSTRptService/DoWorkResponse" message="tns:IHOSTRptService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MessageString">
      <wsdl:input wsaw:Action="http://tempuri.org/IHOSTRptService/MessageString" message="tns:IHOSTRptService_MessageString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHOSTRptService/MessageStringResponse" message="tns:IHOSTRptService_MessageString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MessageByte">
      <wsdl:input wsaw:Action="http://tempuri.org/IHOSTRptService/MessageByte" message="tns:IHOSTRptService_MessageByte_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHOSTRptService/MessageByteResponse" message="tns:IHOSTRptService_MessageByte_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IHOSTRptService" type="tns:IHOSTRptService">
    <wsp:PolicyReference URI="#WSHttpBinding_IHOSTRptService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap12:operation soapAction="http://tempuri.org/IHOSTRptService/DoWork" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MessageString">
      <soap12:operation soapAction="http://tempuri.org/IHOSTRptService/MessageString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MessageByte">
      <soap12:operation soapAction="http://tempuri.org/IHOSTRptService/MessageByte" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HOSTRptService">
    <wsdl:port name="WSHttpBinding_IHOSTRptService" binding="tns:WSHttpBinding_IHOSTRptService">
      <soap12:address location="http://localhost:52514/HOSTService/HOSTRptService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:52514/HOSTService/HOSTRptService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>