Client/Service References/HOAuthService/HOAuthService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HostCommonLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HostCommonLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CTellerProfile">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessArea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BusDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Interval" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MacAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NextDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TellerFullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TellerGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TellerGroupCareBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TellerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TellerLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TellerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TellerPrinterName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TellerRight" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TellerTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeSearch" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CTellerProfile" nillable="true" type="tns:CTellerProfile" />
</xs:schema>