Client/Service References/HOAuthService/HOAuthService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="HOAuthService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IHOAuthService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52514/HOSTService/HOAuthService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52514/HOSTService/HOAuthService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52514/HOSTService/HOAuthService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HostCommonLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHOAuthService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IHOAuthService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IHOAuthService_GetAuthorizationTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthorizationTicket" />
  </wsdl:message>
  <wsdl:message name="IHOAuthService_GetAuthorizationTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthorizationTicketResponse" />
  </wsdl:message>
  <wsdl:message name="IHOAuthService_GetTellerProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTellerProfile" />
  </wsdl:message>
  <wsdl:message name="IHOAuthService_GetTellerProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTellerProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IHOAuthService_GetLeftMenu_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLeftMenu" />
  </wsdl:message>
  <wsdl:message name="IHOAuthService_GetLeftMenu_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLeftMenuResponse" />
  </wsdl:message>
  <wsdl:message name="IHOAuthService_GetLeftAdjustMenu_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLeftAdjustMenu" />
  </wsdl:message>
  <wsdl:message name="IHOAuthService_GetLeftAdjustMenu_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLeftAdjustMenuResponse" />
  </wsdl:message>
  <wsdl:portType name="IHOAuthService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IHOAuthService/DoWork" message="tns:IHOAuthService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHOAuthService/DoWorkResponse" message="tns:IHOAuthService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizationTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/IHOAuthService/GetAuthorizationTicket" message="tns:IHOAuthService_GetAuthorizationTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHOAuthService/GetAuthorizationTicketResponse" message="tns:IHOAuthService_GetAuthorizationTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTellerProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IHOAuthService/GetTellerProfile" message="tns:IHOAuthService_GetTellerProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHOAuthService/GetTellerProfileResponse" message="tns:IHOAuthService_GetTellerProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLeftMenu">
      <wsdl:input wsaw:Action="http://tempuri.org/IHOAuthService/GetLeftMenu" message="tns:IHOAuthService_GetLeftMenu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHOAuthService/GetLeftMenuResponse" message="tns:IHOAuthService_GetLeftMenu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLeftAdjustMenu">
      <wsdl:input wsaw:Action="http://tempuri.org/IHOAuthService/GetLeftAdjustMenu" message="tns:IHOAuthService_GetLeftAdjustMenu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHOAuthService/GetLeftAdjustMenuResponse" message="tns:IHOAuthService_GetLeftAdjustMenu_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IHOAuthService" type="tns:IHOAuthService">
    <wsp:PolicyReference URI="#WSHttpBinding_IHOAuthService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap12:operation soapAction="http://tempuri.org/IHOAuthService/DoWork" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizationTicket">
      <soap12:operation soapAction="http://tempuri.org/IHOAuthService/GetAuthorizationTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTellerProfile">
      <soap12:operation soapAction="http://tempuri.org/IHOAuthService/GetTellerProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLeftMenu">
      <soap12:operation soapAction="http://tempuri.org/IHOAuthService/GetLeftMenu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLeftAdjustMenu">
      <soap12:operation soapAction="http://tempuri.org/IHOAuthService/GetLeftAdjustMenu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HOAuthService">
    <wsdl:port name="WSHttpBinding_IHOAuthService" binding="tns:WSHttpBinding_IHOAuthService">
      <soap12:address location="http://localhost:52514/HOSTService/HOAuthService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:52514/HOSTService/HOAuthService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>